html {
  font-family: "Roboto", sans-serif;
}

input:-internal-autofill-selected {
  background-color: rgb(255, 255, 255) !important;
}

/** ScrollBar **/
.psSiderbarList {
  height: calc(100vh - 131px);
}

.psApp {
  height: 100vh;
}

.ps200 {
  max-height: 210px;
}

.ps400 {
  max-height: 360px;
}

.toolbar-simple {
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0px 1px 2px #c3c3c3;
}

.full-width {
  width: 100%;
}

.v-size--small {
  height: 40px !important;
  width: 40px !important;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 24px;
}

/** Light theme **/

.theme--light .v-dialog .modal {
  background: #fdf9f9;
}

.theme--light.v-toolbar {
  background: #f9f9f9;
}

.theme--light.v-application {
  background: #e8e5e5;
}

.theme--light.v-expansion-panels .v-expansion-panel {
  background-color: #ebfff1;
}

/** Dark theme **/

.theme--dark.v-toolbar.v-app-bar {
  background: #1a3142;
}

/** End theme **/

.v-navigation-drawer .v-list {
  padding: 0;
}

.v-btn:focus::before {
  opacity: 0 !important;
}

.v-expansion-panel-content__wrap {
  padding: 0;
}

@media only screen and (max-width: 959px) {
  .container {
    padding: 4px !important;
  }
}

/** swal***/
.swal2-toast {
  box-shadow: 0 0 0.25em #848484 !important;
  border: 0.1em solid #ffffff;
  border-radius: 0.4em !important;
}

.swal-error * {
  color: #ffff;
  border-color: #fff !important;
}

.swal-error {
  background: #ff4c4c !important;
}

.swal2-error [class^="swal2-x-mark-line"] {
  background-color: white !important;
}

.swal-success * {
  color: #ffff;
}

.swal-success {
  background: rgb(138, 170, 102) !important;
}

.swal-success .swal2-success-ring {
  border: 0.25em solid rgba(255, 255, 255, 0.39) !important;
}

.swal-success [class^="swal2-success-line"] {
  background-color: #fff !important;
}

.swal-info * {
  color: #ffff !important;
}

.swal-info {
  background: #3f8dee !important;
}

.swal-info .swal2-icon.swal2-info::before {
  font-size: 1.8em !important;
}

.swal-warning * {
  color: #ffff !important;
}

.swal-warning {
  background: orange !important;
}

/** swal **/

.header {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(255, 255, 255, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.ps__rail-y {
  z-index: 3;
}

.handle {
  cursor: move;
}

.dashViewTabs .v-tabs__bar {
  background: #f1f1f1 !important;
}

.dashViewTabs {
  position: fixed;
  z-index: 2;
  -webkit-box-shadow: 0 0 3px #7d7b7b;
  box-shadow: 1px 0px 1px #7d7b7b;
  width: inherit;
}

.backAuth {
  /* background-image: url(http://partner.bensassi.net/restoking/assets/images/background/login.JPG) !important; */
  background-size: cover !important;
}

.backAuth .overflow {
  background-color: rgba(255, 255, 255, 0.91);
}

button.swal2-styled {
  will-change: box-shadow;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 2px !important;
}

.swal2-popup {
  border-radius: 2px;
  background: #fff3f3;
}

.cp {
  cursor: pointer;
}

.br-1 {
  border-right: 1px solid #f1f1f1;
}

.border {
  border: 1px solid #f1f1f1;
}

.bsi {
  box-shadow: inset 0 0 5px #c9b4b4 !important;
}

/** Tabel **/

.simple-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.simple-table td:last-child,
.simple-table th:last-child {
  border-right: 0;
}

.simple-table td:first-child,
.simple-table th:first-child {
  border-left: 0;
}

.simple-table td,
.simple-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.simple-table tr:hover {
  background-color: #ddd;
}

.simple-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.dragArea {
  width: 100%;
}

.dragArea > :first-child {
  /* width: 100%; */
  min-height: 50px;
  display: block;
}

@media only screen and (max-width: 959px) {
  .container {
    padding: 0px;
  }
}
